@using MVCHackathon.Areas.Mailbox.Models
@model MVCHackathon.Areas.Mailbox.Models.MailModel
@{
    ViewBag.Title = "ComposeMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="container">
        <h2 class="page-header">Compose Mail</h2>
        <div id="Compose_Mailbox" style="margin-top:20px; "  class="col-md-12  col-sm-12 ">
            @if (ViewBag.Message != "")
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
            <div class="col-md-12">

                <div style="margin-bottom: 10px" class="input-group">
                    <span><label>To</label></span>
                    @Html.TextBox("To", Model.To, new { @class = "form-control" })

                </div>

                <div style="margin-bottom: 10px" class="input-group">
                    <span><label>Cc</label></span>
                    @Html.TextBox("Cc", Model.Cc, new { @class = "form-control" })
                </div>

                <div style="margin-bottom: 10px" class="input-group">
                    <span><label>Bcc</label></span>
                    @Html.TextBox("Bcc", Model.Bcc, new { @class = "form-control" })
                </div>

                <div style="margin-bottom: 10px" class="input-group">
                    <span><label>Subject</label></span>

                    @Html.TextBox("Subject", Model.Subject, new { @class = "form-control" })
                </div>
                <div style="margin-bottom: 10px" class="input-group">
                    <span><label>Message</label></span>


                    @Html.TextBox("Message", Model.Message, new { @class = "form-control" })
                </div>
                <div style="margin-bottom: 10px" class="input-group">
                    <span><label>Attachment</label></span>

                    @Html.TextBox("Attachment", Model.Attachment, new { @type = "file", @class = "form-control" })


                </div>
                <div style="margin-bottom:10px; float:right;" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <input class="btn btn-primary" type="submit" name="Send" value="Send" />
                    </div>
                </div>

            </div>
                <div class="clearfix"></div>
                
        </div>

    </div>
}

